<nav class="navbar navbar-expand-lg border-bottom border-3 border-primary">
	<div class="container d-flex align-items-stretch">
		<h1 class="navbar-brand text-primary m-0 me-lg-12">
			<a href="./index.html" class="d-flex align-items-center">
				<img
					class="logo me-4 d-none d-md-block"
					src="../assets/images/logo.png"
					alt="7TAO LOGO" />
				<img
					class="logo d-block d-md-none"
					style="width: 40px"
					src="../assets/images/logo.png"
					alt="7TAO LOGO" />
				<span class="fs-16 me-1 text-primary d-none d-md-block">7TAO</span>
				<span class="fs-8 text-primary-dark text-nowrap d-none d-md-block"
					>活動訂票網</span
				>
			</a>
		</h1>
		<form
			class="d-flex border border-2 border-primary search-input"
			role="search">
			<input
				class="form-control text-gray-400 fs-8"
				type="search"
				placeholder="探索活動"
				aria-label="Search" />
			<button class="btn btn-primary p-md-4" type="submit">
				<i class="icofont-search-1 text-secondary"></i>
			</button>
		</form>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav fs-9 ms-auto mb-0">
				<li class="nav-item mt-6 mt-lg-0 me-4 mb-4 mb-lg-0">
					<a class="nav-link" href="###">
						<i class="icofont-ui-user me-1"></i>LOGIN
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="###">
						<i class="icofont-ui-file me-1"></i>REGISTER
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
