.logo {
	width: 53px;
}

.search-input {
	width: 207px;
	@include md {
		width: 335px;
	}

	button {
		width: 51px;
	}
}

.icofont-search-1 {
	font-size: 19px;
}

@include md {
	.search-input {
		max-width: 70%;
	}
}
