<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>7TAO 活動訂票網</title>
		<link
			rel="shortcut icon"
			href="../assets/images/favicon.ico"
			type="image/x-icon" />
	</head>
	<body>
		<%- include('./layout/navbar'); -%>

		<div class="container">
			<!-- banner -->
			<div class="row">
				<div>
					<div
						class="banner-img text-white d-flex flex-column justify-content-between align-items-center mt-md-8 mt-4">
						<h2
							class="fs-16 fs-sm-24 fs-md-30 align-self-start pt-4 ps-10 pt-md-12 ps-md-12">
							19 MAY 2023
						</h2>
						<div class="text-center">
							<h3 class="fs-9 fs-md-12 fw-bold mb-6 mb-md-4">
								隔牆有耳-沒有草東的派對
							</h3>
							<p class="fs-8 m-0 px-8 pb-6 d-none d-md-block">
								你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br />
								帶上啤酒、野餐墊，讓我們在 Live House
								外面一起開場「沒有草東的派對」吧！
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- 活動分類 -->
			<div
				class="row category my-8 my-sm-10 my-md-12 text-center gx-2 row-gap-2 gx-md-4 row-gap-md-4 gx-lg-6">
				<div class="col-4 col-lg-2">
					<a
						href="###"
						class="list-item border border-2 border-primary d-flex flex-column align-items-center justify-content-center">
						<img class="mb-3" src="../assets/images/cate01.svg" alt="演出" />
						<h4 class="fs-8 fs-sm-10 fs-md-12 fw-bold m-0 fs-md-10 fs-xs-8">
							演出
						</h4>
					</a>
				</div>
				<div class="col-4 col-lg-2">
					<a
						href="###"
						class="list-item border border-2 border-primary d-flex flex-column align-items-center justify-content-center">
						<img class="mb-3" src="../assets/images/cate02.svg" alt="聯誼" />
						<h4 class="fs-8 fs-sm-10 fs-md-12 fw-bold m-0 fs-md-10 fs-xs-8">
							聯誼
						</h4>
					</a>
				</div>
				<div class="col-4 col-lg-2">
					<a
						href="###"
						class="list-item border border-2 border-primary d-flex flex-column align-items-center justify-content-center">
						<img class="mb-3" src="../assets/images/cate03.svg" alt="展覽" />
						<h4 class="fs-8 fs-sm-10 fs-md-12 fw-bold m-0 fs-md-10 fs-xs-8">
							展覽
						</h4>
					</a>
				</div>
				<div class="col-4 col-lg-2">
					<a
						href="###"
						class="list-item border border-2 border-primary d-flex flex-column align-items-center justify-content-center">
						<img class="mb-3" src="../assets/images/cate04.svg" alt="美食" />
						<h4 class="fs-8 fs-sm-10 fs-md-12 fw-bold m-0 fs-md-10 fs-xs-8">
							美食
						</h4>
					</a>
				</div>
				<div class="col-4 col-lg-2">
					<a
						href="###"
						class="list-item border border-2 border-primary d-flex flex-column align-items-center justify-content-center">
						<img class="mb-3" src="../assets/images/cate05.svg" alt="戶外" />
						<h4 class="fs-8 fs-sm-10 fs-md-12 fw-bold m-0 fs-md-10 fs-xs-8">
							戶外
						</h4>
					</a>
				</div>
				<div class="col-4 col-lg-2">
					<a
						href="###"
						class="list-item border border-2 border-primary bg-primary text-secondary d-flex flex-column align-items-center justify-content-center hover-secondary">
						<h4 class="m-0 display-5 fs-12 fs-sm-18 fs-md-24">
							探索<br />更多
						</h4>
					</a>
				</div>
			</div>

			<!-- recent 近期活動 -->
			<div
				class="block-title d-flex justify-content-between align-items-center border border-3 border-primary text-primary py-4 px-3 py-md-6 px-md-8 mb-md-8 mb-6">
				<h2 class="fs-12 fs-sm-22 fs-md-32">RECENT</h2>
				<h3 class="fs-8 fs-sm-12 fs-md-16">近期活動</h3>
			</div>

			<div
				class="row row-cols-md-3 row-cols-sm-2 row-cols-1 gy-6 gy-md-12 mb-8 mb-md-12 recent">
				<div class="col event-card">
					<h4>19 MAY 2023</h4>
					<img
						class="event-card-img"
						src="../assets/images/event/01.jpg"
						alt="電影派對" />
					<h3>邪典電影派對——房間</h3>
					<p>
						你有聽說過「大災難家」裡面的主角 Tommy Wiseau
						製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
					</p>
					<div class="event-card-footer">
						<div class="event-card-footer-left">
							<img src="../assets/images/sparkler.png" alt="裝飾" />
							<span>社群活動</span>
						</div>
						<a class="event-card-footer-seemore" href="./event.html">
							<span>開賣中</span>
							<i class="fas fa-angle-double-right fa-xs"></i>
						</a>
					</div>
				</div>
				<div class="col event-card">
					<h4>23 MAY 2023</h4>
					<img
						class="event-card-img"
						src="../assets/images/event/02.jpg"
						alt="怪舞俱樂部" />
					<h3>怪舞俱樂部</h3>
					<p>
						覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
					</p>
					<div class="event-card-footer">
						<div class="event-card-footer-left">
							<img src="../assets/images/sparkler.png" alt="裝飾" />
							<span>演出</span>
						</div>
						<a class="event-card-footer-seemore" href="./event.html">
							<span>檢視活動</span>
							<i class="fas fa-angle-double-right fa-xs"></i>
						</a>
					</div>
				</div>
				<div class="col event-card">
					<h4>30 MAY 2023</h4>
					<img
						class="event-card-img"
						src="../assets/images/event/03.jpg"
						alt="哈利波特馬拉松" />
					<h3>哈利波特馬拉松</h3>
					<p>
						每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
					</p>
					<div class="event-card-footer">
						<div class="event-card-footer-left">
							<img src="../assets/images/sparkler.png" alt="裝飾" />
							<span>聯誼</span>
						</div>
						<a class="event-card-footer-seemore" href="./event.html">
							<span>開賣中</span>
							<i class="fas fa-angle-double-right fa-xs"></i>
						</a>
					</div>
				</div>
				<div class="col event-card">
					<h4>12 June 2023</h4>
					<img
						class="event-card-img"
						src="../assets/images/event/04.jpg"
						alt="皮卡丘排球大賽" />
					<h3>皮卡丘排球大賽</h3>
					<p>
						還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
					</p>
					<div class="event-card-footer">
						<div class="event-card-footer-left">
							<img src="../assets/images/sparkler.png" alt="裝飾" />
							<span>遊戲競賽</span>
						</div>
						<a class="event-card-footer-seemore" href="./event.html">
							<span>開賣中</span>
							<i class="fas fa-angle-double-right fa-xs"></i>
						</a>
					</div>
				</div>
				<div class="col event-card">
					<h4>25 June 2023</h4>
					<img
						class="event-card-img"
						src="../assets/images/event/05.jpg"
						alt="酒精路跑" />
					<h3>酒精路跑</h3>
					<p>
						身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
					</p>
					<div class="event-card-footer">
						<div class="event-card-footer-left">
							<img src="../assets/images/sparkler.png" alt="裝飾" />
							<span>社群活動</span>
						</div>
						<a class="event-card-footer-seemore" href="./event.html">
							<span>開賣中</span>
							<i class="fas fa-angle-double-right fa-xs"></i>
						</a>
					</div>
				</div>
				<div class="col event-card">
					<h4>09 July 2023</h4>
					<img
						class="event-card-img"
						src="../assets/images/event/06.jpg"
						alt="展覽——我的房間" />
					<h3>展覽——我的房間</h3>
					<p>
						每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。
					</p>
					<div class="event-card-footer">
						<div class="event-card-footer-left">
							<img src="../assets/images/sparkler.png" alt="裝飾" />
							<span>展覽</span>
						</div>
						<a class="event-card-footer-seemore" href="./event.html">
							<span>開賣中</span>
							<i class="fas fa-angle-double-right fa-xs"></i>
						</a>
					</div>
				</div>
			</div>

			<!-- online 線上活動 -->
			<div
				class="block-title d-flex justify-content-between align-items-center border border-3 border-primary text-primary py-4 px-3 py-md-6 px-md-8 mb-md-8 mb-6">
				<h2 class="fs-12 fs-sm-22 fs-md-32">ONLINE</h2>
				<h3 class="fs-8 fs-sm-12 fs-md-16">線上活動</h3>
			</div>

			<div class="card mb-8 mb-md-12">
				<div class="row">
					<div class="col-md-7 online mb-3 mb-md-0">
						<img
							src="../assets/images/event/online.jpg"
							class="img-fluid"
							alt="online" />
					</div>
					<div class="col-md-5 d-flex">
						<div class="d-flex flex-column justify-content-between">
							<div>
								<h5 class="fs-9 fs-md-16 mb-2 mb-md-4">切特居批踢</h5>
								<ul class="tag-list column-gap-2">
									<li><a href="###">競賽</a></li>
									<li><a href="###">科技</a></li>
									<li><a href="###">有趣</a></li>
								</ul>
							</div>
							<p class="my-3 my-md-0">
								最近網路上很流行的AI程式
								ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
								這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
								該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
							</p>
							<div class="d-grid">
								<button
									class="btn btn-primary py-4 py-md-2 seemore"
									type="button">
									查看活動詳情<i
										class="fas fa-angle-double-right fa-xs ms-1"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 活動集錦 -->
		<div class="scroll-text bg-primary overflow-hidden">
			<p
				class="fs-8 fs-sm-12 fs-md-16 text-secondary text-nowrap ff-serif fw-bold py-4 py-sm-5 py-md-6 m-0">
				活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・
			</p>
			<p
				class="fs-8 fs-sm-12 fs-md-16 text-secondary text-nowrap ff-serif fw-bold py-4 py-sm-5 py-md-6 m-0">
				ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
			</p>
		</div>

		<div class="card-group container mt-12 mt-md-15 mb-12 mb-md-15">
			<div class="row gy-12 gy-md-0 d-flex justify-content-center">
				<div class="col-10 col-sm-6 col-md-3">
					<div
						class="card h-100 border border-2 border-primary d-flex flex-column align-items-center position-relative p-3 pb-8 pb-md-12">
						<div>
							<div class="py-2 px-4 sticker">社群活動</div>
						</div>
						<div>
							<img
								src="../assets/images/album/01.jpg"
								class="card-img-top mb-3 mb-md-4"
								alt="無聲派對-閉閉嘴 dancing" />
							<h5 class="card-title align-self-start fs-9 m-0">
								無聲派對-閉閉嘴 dancing
							</h5>
						</div>
					</div>
				</div>
				<div class="col-10 col-sm-6 col-md-3">
					<div
						class="card h-100 border border-2 border-primary d-flex flex-column align-items-center position-relative p-3 pb-8 pb-md-12 rotate2">
						<div>
							<div class="py-2 px-4 sticker">藝文活動</div>
						</div>
						<div>
							<img
								src="../assets/images/album/02.jpg"
								class="card-img-top mb-3 mb-md-4"
								alt="拯救老店大作戰" />
							<h5 class="card-title align-self-start fs-9 m-0">
								拯救老店大作戰
							</h5>
						</div>
					</div>
				</div>
				<div class="col-10 col-sm-6 col-md-3">
					<div
						class="card h-100 border border-2 border-primary d-flex flex-column align-items-center position-relative p-3 pb-8 pb-md-12 rotate-n2">
						<div>
							<div class="py-2 px-4 sticker">自我覺察</div>
						</div>
						<div>
							<img
								src="../assets/images/album/03.jpg"
								class="card-img-top mb-3 mb-md-4"
								alt="內觀修行-部落篇" />
							<h5 class="card-title align-self-start fs-9 m-0">
								內觀修行-部落篇
							</h5>
						</div>
					</div>
				</div>
				<div class="col-10 col-sm-6 col-md-3">
					<div
						class="card h-100 border border-2 border-primary d-flex flex-column align-items-center position-relative p-3 pb-8 pb-md-12 rotate2">
						<div>
							<div class="py-2 px-4 sticker">聯誼活動</div>
						</div>
						<div>
							<img
								src="../assets/images/album/04.jpg"
								class="card-img-top mb-3 mb-md-4"
								alt="賞櫻野餐" />
							<h5 class="card-title align-self-start fs-9 m-0">賞櫻野餐</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="scroll-text scroll-text-bottom bg-primary overflow-hidden">
			<p
				class="fs-8 fs-sm-12 fs-md-16 text-secondary text-nowrap ff-serif fw-bold py-4 py-sm-5 py-md-6 m-0">
				活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・活動集錦・ALBUMS・
			</p>
			<p
				class="fs-8 fs-sm-12 fs-md-16 text-secondary text-nowrap ff-serif fw-bold py-4 py-sm-5 py-md-6 m-0">
				活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・活動集錦・ALBUMS・
			</p>
		</div>

		<!-- follow us -->
		<div class="container">
			<div class="row gx-0 my-md-15 mt-8 mb-12">
				<div class="col-sm-6 mb-3 mb-sm-0 mb-6 mb-sm-0">
					<div class="card p-0 border border-2 border-primary border-end-sm-0">
						<h5
							class="card-title ff-serif fw-bold fs-12 fs-sm-14 fs-md-16 m-0 border-2 border-bottom border-primary py-4 px-md-8 px-3">
							#FOLLOW US
						</h5>
						<div class="py-4 py-md-8 px-3 px-md-8">
							<p class="card-text mb-4 mb-md-8">
								想第一時間獲得新奇有趣的活動資訊？ 追蹤我們的社群吧！<br />
								也歡迎你聯繫我們，提供好玩有趣的活動企劃。
							</p>
							<ul class="list-unstyled ff-sans m-0">
								<li class="mb-4">
									<a href="mailto:7tao.event@gmail.com"
										><i
											class="d-inline-block icofont-ui-email p-2 bg-primary text-white me-4"></i
										>7tao.event@gmail.com</a
									>
								</li>
								<li class="mb-4">
									<a href="tel:+09123123123"
										><i
											class="d-inline-block icofont-phone p-2 bg-primary text-white me-4"></i
										>09123123123</a
									>
								</li>
								<li>
									<a href="###"
										><i
											class="d-inline-block icofont-facebook p-2 bg-primary text-white me-4"></i
										>7TAO七逃</a
									>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mb-3 mb-sm-0 d-sm-flex">
					<div class="card">
						<div
							class="card-body p-0 border border-2 border-primary d-flex flex-column justify-content-between">
							<div>
								<h5
									class="card-title ff-serif fw-bold fs-12 fs-sm-14 fs-md-16 m-0 border-2 border-bottom border-primary py-4 px-md-8 px-3">
									#SUBSCRIBE US
								</h5>
								<div class="py-4 py-md-8 px-md-8 px-3">
									<p class="card-text mb-4 mb-md-8">
										想第一時間獲得新奇有趣的活動資訊？ 追蹤我們的社群吧！<br />
										也歡迎你聯繫我們，提供好玩有趣的活動企劃。
									</p>
									<input
										type="email"
										placeholder="輸入Email"
										class="form-control text-gray-500 border-2 border-primary py-4 px-6"
										id="inputEmail"
										aria-describedby="emailHelp" />
								</div>
							</div>
							<a href="###" class="d-block btn btn-primary py-4 py-md-2"
								>確認訂閱<i class="fas fa-angle-double-right fa-xs ms-1"></i
							></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- quote -->
		<div class="border-3 border-top border-primary py-12 py-md-15">
			<div class="container text-center">
				<p class="fs-9 fs-md-16 fw-bold ff-serif mb-3 mb-md-4">
					此刻打盹，你將做夢<span class="d-none d-sm-inline">；</span
					><br class="d-block d-sm-none" />此刻學習，你將圓夢
				</p>
				<p class="fs-7 fs-md-8 fw-bold ff-serif mb-0">——我也不知道誰說的</p>
			</div>
		</div>

		<!-- footer -->
		<%- include('./layout/footer'); -%>

		<script
			src="https://kit.fontawesome.com/d56e11df22.js"
			crossorigin="anonymous"></script>
		<script type="module" src="../main.js"></script>
	</body>
</html>
